
<h4>Área Administrativa</h4>


<div class="card mt-3">
    <div class="card-header">Categorias</div>
    <div class="card-body">
        <p class="mt-4">Em categorias em possível criar novas categorias, assim como editar as categorias existentes ou excluí-las.</p>
        
        <a href="/admin/categorias">
            <button class="btn btn-success">Acessar</button>
        </a>
       
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">Postagens</div>

    <div class="card-body">
        <p class="mt-4">Em postagens em possível criar novas postagens, assim como editar as postagens existentes ou excluí-las.</p>

        <a href="/admin/postagens">
            <button class="btn btn-success">Acessar</button>
        </a>        
    </div>
</div>

